.Rproj.user
.Rhistory
.RData
.Ruserdata
oldstuff/
Material/cache
Material/figure
Material/Rintro_1h-concordance.tex
Material/Rintro_1h.log
Material/Rintro_1h.nav
Material/Rintro_1h.snm
Material/Rintro_1h.synctex.gz
Material/Rintro_1h.tex
Material/Rintro_1h.toc
Material/Rintro_1h.vrb
Material/DWDdata
